Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
applicationinsights-agent-3.4.13.jar
illuminate-diagnostics-2.0.159.jar
applicationinsights.json